.item {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
}
.link:hover {
  background-color: #f4f4fd;
}
.title {
  font-size: 22px;
  color: black;
  font-weight: 500;
  text-wrap: wrap;
  max-width: 200px;
}
